/* ----------------------------
/*  Name: button css animation
    Author: Alyona Volkova
    Version: 1.0
/* -------------------------- */

@font-face {
    font-family: Wotfard SemiBold;
    src: url(assets/fonts/Wotfard-SemiBold.otf);
    font-weight: 500;
}

.container {
    width: 100%;
}

.position-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
