/* ----------------------------
/*  Name: button css animation
    Author: Alyona Volkova
    Version: 1.0
/* -------------------------- */

@font-face {
    font-family: Wotfard SemiBold;
    src: url(assets/fonts/Wotfard-SemiBold.otf);
    font-weight: 500;
}

.container {
    width: 100%;
}

.position-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clickable-area {
    height: 80px; /* TODO var */
    width: 216px; /* TODO var */
    border: #000000 2px solid;
    text-align: center;
    font-family: Wotfard SemiBold;
    font-size: 24px;
    line-height: 32px;
    background-color: #fff;
}

.hover-area {
    display: none;
    height: 80px; /* TODO var */
    width: 216px; /* TODO var */
    margin: -16px 0 0 -16px;
    overflow: hidden;
}

.secondary-button:hover .hover-area {
    cursor: pointer;
    display: block;
}

.secondary-button:hover .clickable-area {
    cursor: pointer;
    background-color: #F5DDE9;
}

.invisible-bigger-area {
    height: 80px; /* TODO var x 2*/
    width: 310px; /* TODO var x 2 */
}

.hover-line {
    width: 2px;
    height: 100%;
    transform: skew(45deg);
    background: #000000;
    float: left;
    margin-right: 12px;
}


